*{
    margin: 0;
    padding: 0;
    font-family: 'SilkScreen', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

h1 {
    text-align: center;
    background-color: black;
    color: limegreen;
    font-size: 60px;

}

h2 {
    font-size: 50px;
}

.main {
    background-color: rgb(34, 33, 33);
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons button {
    height: 150px;
    width: 150px;
    background-color: rgb(65, 61, 61);
    color: limegreen;
    font-size: 30px;
}

.endState {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#human {
    font-size: 90px;
    color: limegreen;
}

#computer {
    font-size: 90px;
    color: red;
}

.logs {
    flex: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
    background-color: rgb(39, 37, 37);
    padding: 60px 0;
}

.logsPara {
    color: limegreen;
    margin-bottom: 15px;
    font-size: 20px;   
}

footer {
    background-color: black;
    color: limegreen;
    font-size: 20px;
    text-align: center;
    padding: 2px;
}
