*{
    margin: 0;
    padding: 0;
    color: #cfcfcf;
    font-family: Tahoma, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    text-align: center;
    background-color: #303030;
    font-size: 60px;

}

h2 {
    font-size: 50px;
}

.main {
    background-color: #404040;
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons button {
    height: 150px;
    width: 150px;
    background-color: #303030;
    font-size: 30px;
    border-radius: 5%;
    border: 1px #202020 solid;
}

.buttonClicked {
    transform: scale(1.050);
    transition: all 0.1s;
    border-color:#404040;
}

.endState {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#human, #computer {
    font-size: 90px;
    color: limegreen;
    font-family: Arial, Helvetica, sans-serif;
}

#human {
    color: limegreen;
}

#computer {
    color: red;
}

.logs {
    flex: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
    background-color: #505050;
    padding: 60px 0;
}

.logsPara {
    margin-bottom: 15px;
    font-size: 20px;   
}

footer {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 0 1 40px;
    gap: 20px;
    font-size: 25px;
    font-family: Tahoma, sans-serif;
}

.githubHover {
    transform: scale(1.1);
}
